/* Master Styles */
/* Solves issue as described here:
 * http://stackoverflow.com/questions/35578083/what-is-the-equivalent-of-ngshow-and-nghide-in-angular2
 */
[hidden] {
    display: none !important;
}

nav .disabled {
    pointer-events: none;
    box-shadow: none;
    color: #b9b9b9 !important;
    cursor: default;
}

.brand-logo {
    margin-left: 15px;
}

.hedgehog-green-light {
    background-color: #38b449;
}

.hedgehog-green-dark {
    background-color: #007c3c;
}

/* indicator color */

.tabs .indicator {
    background-color: #38b449 !important;
}

/* file tree style*/

.tree-node-active .node-content-wrapper {
    background-color: #fff !important;
}

.node-content-wrapper, .tree-children {
    position: relative;
}

.node-content-wrapper::before, .tree-children::after {
    content: "";
    position: absolute;
}

.node-content-wrapper::before {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    height: 28px;
    top: -17px;
    width: 20px;
    left: -28px;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
    width: 25px;
}

.tree-children::after {
    border-left: 1px solid lightgrey;
    height: 100%;
    top: -15px;
    left: -15px;
}

treenode:last-child > .tree-node > .tree-children::after {
    border-left: none;
}

.toggle-children {
    z-index: 1;
}

/* context menu */

.angular2-contextmenu .dropdown-menu {
    border: solid 1px black;
    background-color: white;
    padding: 0;
    z-index: 5;
}
.angular2-contextmenu li {
    display: block;
    border-top: solid 1px black;
    text-transform: uppercase;
    text-align: left;
}
.angular2-contextmenu li:first-child {
    border-top: none;
}
.angular2-contextmenu a {
    color: black;
    display: block;
    padding: 0.5em 1em;
}
.angular2-contextmenu a:hover {
    color: black;
    background-color:white;
}


/* all other styles */

/*#sidebar {
    height: 100%;
    overflow-y: auto;
    margin-top: 10px;
    resize: horizontal;
}

.tree {
    margin-left: 5%;
    margin-top: 10%;
}*/