/* Master Styles */
.collapsed .collapsible-section {
    display: none;
}

.hedgehog-green-light {
    background-color: #38b449;
}

.hedgehog-green-dark {
    background-color: #007c3c;
}

.button-margin{
    margin-top: 2%;
    margin-right: 20px;
}

.tabs .indicator {
    background-color: #38b449 !important;
}

.tree-node-active .node-content-wrapper {
    background-color: #fff !important;
    text-decoration: underline;
}

.angular2-contextmenu .dropdown-menu {
    border: solid 1px black;
    background-color: white;
    padding: 0;
}
.angular2-contextmenu li {
    display: block;
    border-top: solid 1px black;
    text-transform: uppercase;
    text-align: center;
}
.angular2-contextmenu li:first-child {
    border-top:none;
}
.angular2-contextmenu a {
    color:black;
    display: block;
    padding: 0.5em 1em;
}
.angular2-contextmenu a:hover {
    color: black;
    background-color:white;
}