<div class="app-content row">
    <nav class="hedgehog-green-light">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"> {{ programName }} </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a (click)="run()" [ngClass]="{ 'disabled': !openId }"><i *ngIf="!programIsRunning" class="material-icons">play_arrow</i></a>
                    <a><i *ngIf="programIsRunning" class="material-icons">stop</i></a>
                </li>
                <li (click)="saveAllFiles()"><a><i class="material-icons">save</i></a></li>
                <li><a><i class="material-icons">insert_drive_file</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="col s2">

        <Tree #tree
              id="file-tree"
              [nodes]="fileTree"
              [options]="fileTreeOptions"
              [focused]="true"
              (onActivate)="fileTreeEvent($event)"
              (onMoveNode)="onMoveNode($event)">

            <template #treeNodeTemplate let-node>
                <div [contextMenu]="fileTreeActions" [contextMenuSubject]="node">
                    <i *ngIf="node.data.children && !node.isExpanded" class="material-icons"> folder </i>
                    <i *ngIf="node.isExpanded" class="material-icons"> folder_open </i>
                    <i *ngIf="!node.data.children" class="material-icons"> insert_drive_file </i>
                    <span> {{ node.data.name }} </span>
                </div>
            </template>

        </Tree>

        <context-menu #treeContextMenu>
            <template contextMenuItem let-node (execute)="newData.file = true; openNewFileOrDirectoryModal($event)">
                <i class="material-icons"> insert_drive_file </i> New File
            </template>
            <template contextMenuItem let-node (execute)="newData.file = false; openNewFileOrDirectoryModal($event)">
                <i class="material-icons"> folder </i> New Directory
            </template>
            <template contextMenuItem let-node (execute)="openDeleteModal($event)">
                <i class="material-icons"> delete </i> Delete
            </template>
            <template contextMenuItem let-node (execute)="openRenameModal($event)">
                <i class="material-icons"> mode_edit </i> Rename
            </template>
        </context-menu>

        <div id="create-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="newFileOrDirectoryModalActions">
            <div class="modal-content">
                <h4 *ngIf="newData.file">Create New File</h4>
                <h4 *ngIf="!newData.file">Create New Directory</h4>
                <div class="input-field">
                    <input id="new-name" type="text" class="validate" [(ngModel)]="newData.name"/>
                    <label for="new-name" *ngIf="newData.file">File Name</label>
                    <label for="new-name" *ngIf="!newData.file">Directory Name</label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-green btn-flat" (click)="closeNewFileOrDirectoryModal()">Close</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="newFileOrDirectory()">Create</a>
            </div>
        </div>

        <div id="delete-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="deleteModalActions">
            <div class="modal-content">
                <h4>Delete File</h4>
                <p *ngIf="!deleteFileData.children">Do you want to delete the File {{ deleteFileData.name }} ? <br />
                    This operation cannot be undone.</p>

                <p *ngIf="deleteFileData.children">Do you want to delete the whole Folder {{ deleteFileData.name }} ? <br />
                    This operation cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-green btn-flat" (click)="closeDeleteModal()">Close</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="deleteAction()">Delete</a>
            </div>
        </div>

        <div id="rename-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="renameModalActions">
            <div class="modal-content">
                <h4 *ngIf="renameFileData.currentItem.children">Rename Directory "{{renameFileData.currentItem.name}}"</h4>
                <h4 *ngIf="!renameFileData.currentItem.children">Rename File "{{renameFileData.currentItem.name}}"</h4>
                <div class="input-field">
                    <input id="rename-new-name" type="text" class="validate" [(ngModel)]="renameFileData.newName"/>
                    <label for="rename-new-name" *ngIf="renameFileData.currentItem.children">Directory Name</label>
                    <label for="rename-new-name" *ngIf="!renameFileData.currentItem.children">File Name</label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-green btn-flat" (click)="closeRenameModal()">Close</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="renameAction()">Rename</a>
            </div>
        </div>
    </div>

    <div class="col s10">

        <div class="row">
            <div class="col s12" >
                <ul class="tabs" materialize="tabs" id="sortable-tabs">
                    <li class="tab"><a></a></li>
                </ul>
            </div>

            <div class="col s12">
                <div ace-editor
                     id="ace-editor"
                     text="{{ editorContent }}"
                     (textChanged)="onEditorContentChange($event)"
                     [mode]="'python'"
                     [theme]="'chrome'"
                     [readOnly]="false"
                     style="display:block; height: 88vh; width:100%"> </div>
            </div>
        </div>
    </div>

    <program-execution (onExit)="onExecutionExit($event)"></program-execution>
</div>

