<div class="app-content row">
    <context-menu></context-menu>

    <div class="col s2">
        <h3> {{ programName }} </h3>
        <hr>

        <Tree #tree
              [nodes]="filetree"
              [focused]="true"
              (onActivate)="fileTreeEvent($event)">
            <template #treeNodeTemplate let-node>
                <div [contextMenu]="basicMenu" [contextMenuSubject]="node">
                    <i *ngIf="node.data.children && !node.isExpanded" class="material-icons"> folder </i>
                    <i *ngIf="node.isExpanded" class="material-icons"> folder_open </i>
                    <i *ngIf="!node.data.children" class="material-icons"> insert_drive_file </i>
                    <span> {{ node.data.name }} </span>
                </div>
            </template>
        </Tree>

        <context-menu #treeContextMenu>
            <template contextMenuItem let-node (execute)="openNewFileModal($event)">
                New File
            </template>
            <template contextMenuItem let-node (execute)="openDeleteFileModal($event)">
                Delete File
            </template>
        </context-menu>

        <div id="create-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="newFileModalActions">
            <div class="modal-content">
                <h4>Create New File</h4>
                <div class="input-field">
                    <input id="new-file-name" type="text" class="validate" [(ngModel)]="newFileName"/>
                    <label for="new-file-name">File Name</label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-green btn-flat" (click)="closeNewFileModal()">Close</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="newFile($event)">Create</a>
            </div>
        </div>

        <div id="delete-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="deleteFileModalActions">
            <div class="modal-content">
                <h4>Delete File</h4>
                <p>Do you want to delete the File? <br />
                    This operation cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-green btn-flat" (click)="closeDeleteFileModal()">Close</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="deleteFile()">Delete</a>
            </div>
        </div>
    </div>

    <div class="col s10">
        <div class="col s12" style="margin-top: 2vh">
            <div class="col l1">
                <a class="waves-effect btn-floating waves-light">
                    <i class="material-icons">play_arrow</i>
                </a>
            </div>
            <div class="col l1">
                <a class="waves-effect btn-floating waves-light">
                    <i class="material-icons">save</i>
                </a>
            </div>
            <div class="col l1" >
                <a class="waves-effect btn-floating waves-light">
                    <i class="material-icons">insert_drive_file</i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s12" >
                <ul class="tabs" materialize="tabs" id="sortable-tabs">
                    <li class="tab"><a></a></li>
                </ul>
            </div>

            <div class="col s12">
                <div ace-editor
                     text="{{ editorContent }}"
                     (textChanged)="onEditorContentChange($event)"
                     [mode]="'python'"
                     [theme]="'chrome'"
                     [readOnly]="false"
                     style="display:block; height: 88vh; width:100%"> </div>


            </div>
        </div>
    </div>
</div>

