<div id="ide-content" class="app-content row toggle-theme">
    <nav class="hedgehog-green-light">
        <div class="nav-wrapper">
            <a class="brand-logo"> {{ programName }} </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a (click)="run()" [ngClass]="{ 'disabled': !openId }" *ngIf="!programIsRunning" materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="execute open file"><i class="material-icons">play_arrow</i></a>
                    <a (click)="programExecution.stop()" *ngIf="programIsRunning" materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="stop program"><i class="material-icons">stop</i></a>
                </li>
                <li><a (click)="saveAllFiles()"><i materialize="tooltip" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="save files">save</i></a></li>
                <li><a (click)="openSaveVersionModal()"><i materialize="tooltip" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="save as version">note_add</i></a></li>
                <li><a (click)="openSettingsModal()"><i materialize="tooltip" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="settings">settings</i></a></li>
            </ul>

        </div>
    </nav>

    <split
            direction="horizontal"
            (dragProgress)="updateIndicator('#tab' + openId)">
        <split-area
                [size]="20">
            <Tree #tree
                  id="file-tree"
                  [nodes]="fileTree"
                  [options]="fileTreeOptions"
                  [focused]="true"
                  (onActivate)="fileTreeEvent($event)"
                  (onMoveNode)="onMoveNode($event)">

                <template #treeNodeTemplate let-node>
                    <div [contextMenu]="fileTreeActions" [contextMenuSubject]="node">
                        <span class="no-break">
                            <i *ngIf="node.data.children && !node.isExpanded" class="material-icons"> folder </i>
                            <i *ngIf="node.isExpanded" class="material-icons"> folder_open </i>
                            <i *ngIf="!node.data.children" class="material-icons"> insert_drive_file </i>
                            <span> {{ node.data.name }} </span>
                        </span>
                    </div>
                </template>

            </Tree>

            <context-menu #treeContextMenu>
                <template contextMenuItem let-node (execute)="newData.file = true; openNewFileOrDirectoryModal($event)">
                    <i class="material-icons"> insert_drive_file </i> New File
                </template>
                <template contextMenuItem let-node (execute)="newData.file = false; openNewFileOrDirectoryModal($event)">
                    <i class="material-icons"> folder </i> New Directory
                </template>
                <template contextMenuItem let-node (execute)="openDeleteModal($event)">
                    <i class="material-icons"> delete </i> Delete
                </template>
                <template contextMenuItem let-node (execute)="openRenameModal($event)">
                    <i class="material-icons"> mode_edit </i> Rename
                </template>
            </context-menu>
        </split-area>
        <split-area [size]="80">
            <split direction="vertical">
                <split-area [size]="70">
                    <div class="editor-wrapper row">
                        <div class="col s12 editor-tabs">
                            <ul class="tabs toggle-theme" materialize="tabs" id="sortable-tabs">
                                <li class="tab"><a></a></li>
                            </ul>
                        </div>

                        <div class="col s12 editor-content">
                            <ace-editor
                                    #editor
                                    [hidden]="!openId"
                                    id="ace-editor"
                                    [text]="editorContent"
                                    (textChanged)="onEditorContentChange($event)"
                                    [mode]="'python'"
                                    [theme]="'textmate'"
                                    [readOnly]="false"></ace-editor>
                        </div>
                    </div>
                </split-area>
                <split-area [size]="30">
                    <program-execution (onExit)="onExecutionExit($event)" id="split-execute"></program-execution>

                </split-area>
            </split>
        </split-area>
    </split>
</div>

<!-- Modals -->
<div id="create-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="newFileOrDirectoryModalActions">
    <form (submit)="newFileOrDirectory()">
        <div class="modal-content">
            <h4 *ngIf="newData.file">Create New File</h4>
            <h4 *ngIf="!newData.file">Create New Directory</h4>
            <div class="input-field">
                <input name="new-name" id="new-name" type="text" class="validate" [(ngModel)]="newData.name"/>
                <label for="new-name" *ngIf="newData.file">do_stuff.py</label>
                <label for="new-name" *ngIf="!newData.file">Directory Name</label>
            </div>
        </div>
        <div class="form-group">
                <select class="form-control" id="template" required [(ngModel)]="newData.template" name="template" #template="ngModel">
                    <option *ngFor="let templateOption of templateOptions" [ngValue]="templateOption.value">{{templateOption.name}}</option>
                </select>
                <label for="template">Template</label>
            <div class="modal-footer">
                <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeNewFileOrDirectoryModal()">Close</button>
                <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>

<div id="delete-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="deleteModalActions">

    <form (submit)="deleteAction()">
        <div class="modal-content">
            <h4>Delete File</h4>
            <p *ngIf="!deleteFileData.children">Do you want to delete the File <strong>{{ deleteFileData.name }}</strong>? <br />
                This operation cannot be undone.</p>

            <p *ngIf="deleteFileData.children">Do you want to delete the whole Folder <strong>{{ deleteFileData.name }}</strong>? <br />
                This operation cannot be undone.</p>
        </div>

        <div class="modal-footer">
            <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeDeleteModal()">Close</button>
            <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Delete</button>
        </div>
    </form>
</div>

<div id="rename-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="renameModalActions">
    <form (submit)="renameAction()">
        <div class="modal-content">
            <h4 *ngIf="renameFileData.currentItem.children">Rename Directory <strong>{{renameFileData.currentItem.name}}</strong></h4>
            <h4 *ngIf="!renameFileData.currentItem.children">Rename File <strong>{{renameFileData.currentItem.name}}</strong></h4>
            <div class="input-field">
                <input name="rename-new-name" id="rename-new-name" type="text" class="validate" [(ngModel)]="renameFileData.newName" />
                <label for="rename-new-name" *ngIf="renameFileData.currentItem.children">Directory Name</label>
                <label for="rename-new-name" *ngIf="!renameFileData.currentItem.children">do_stuff.py</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeRenameModal()">Close</button>
            <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Rename</button>
        </div>
    </form>
</div>

<div id="save-version-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="saveVersionModalActions">
    <form (submit)="saveVersionAction()">
        <div class="modal-content">
            <h4>Create a version</h4>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">label</i>
                    <input name="save-version-tag" id="save-version-tag" type="text" class="validate" [(ngModel)]="saveVersionData.tag">
                    <label for="save-version-tag">Tag</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">message</i>
                    <textarea name="save-version-message" id="save-version-message" class="materialize-textarea" [(ngModel)]="saveVersionData.message"></textarea>
                    <label for="save-version-message">Message</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeSaveVersionModal()">Close</button>
            <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Create version</button>
        </div>
    </form>
</div>

<div id="settings-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="settingsModalActions">
    <form (submit)="closeSettingsModal()">
        <div class="modal-content">
            <h4>Settings</h4>
            <div class="row">
                <p>
                    <input type="checkbox" class="filled-in" id="settings-dark-theme" (change)="toggleTheme()"/>
                    <label for="settings-dark-theme">Dark Theme</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="settings-line-wrap" name="settings-line-wrap" [(ngModel)]="editorOptions.wrapBehavioursEnabled" (change)="updateEditorSettings()"/>
                    <label for="settings-line-wrap">Line Wrap</label>
                </p>

                <div class="input-field col s12">
                    <input id="settings-fontsize" type="number" name="settings-fontsize" [(ngModel)]="editorOptions.fontSize" value="0" (ngModelChange)="updateEditorSettings()">
                    <label for="settings-fontsize">Font Size</label>
                </div>

            </div>
        </div>
    </form>
</div>