<nav class="hedgehog-green-light">
    <div class="nav-wrapper">
        <a class="brand-logo"> {{ programName.replace(".blockly","") }} </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li (click)="saveWorkspace()"><a materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="save changes">
                    <i class="material-icons">save</i>
            </a></li>
            <li (click)="clearWorkspace()"><a materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="clear workspace">
                    <i class="material-icons">delete</i>
            </a></li>
            <li (click)="toggleShowCode()"><a materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="show code">
                    <i class="material-icons">code</i>
            </a></li>
            <li>
                <a (click)="run()" materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="run program"><i *ngIf="!programIsRunning" class="material-icons">play_arrow</i></a>
                <a materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="stop program"><i *ngIf="programIsRunning" (click)="stop()" class="material-icons">stop</i></a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <split direction="horizontal">
        <split-area [size]="70">
            <div id="blocklyDiv"></div>
        </split-area>
        <split-area [size]="30" [visible]="showCode">
            <ace-editor
                #editor
                style="font-size: 14px; font-family: Roboto Mono;"
                id="ace-editor"
                [text]="pyCode"
                [mode]="'python'"
                [theme]="'textmate'"
                [readOnly]="true"></ace-editor> 
        </split-area>
    </split>
</div>
