# file has to be located in:
# /etc/systemd/system/
[Unit]
Description=Hedgehog Web IDE
After=network.target

[Service]
WorkingDirectory=/home/pi/hedgehog-ide
ExecStart=/usr/local/bin/npm start --production
User=root

[Install]
WantedBy=multi-user.target
