.container {
    margin-top: 30px;
}

.brand-logo {
    position: inherit !important;
}

.breadcrumb {
    vertical-align: top;
}

#ace-editor {
    height: calc(100% - 124px) !important;
    display: block;
    position: absolute;
    width: 100%;
}
