<nav class="hedgehog-green-light">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">{{lang_programs}}</a>
        <ul id="nav-mobile" class="right">
            <li materialize="tooltip" class="tooltipped" data-position="bottom" data-delay="50" [attr.data-tooltip]="lang_change_language"><a materialize="dropdown" class="dropdown-button" data-activates="dropdownLang" >
                    <i class="material-icons">language</i>
            </a></li>
            <li (click)='reloadProgramList()'><a><i class="material-icons">replay</i></a></li>
        </ul>
    </div>
</nav>
<ul id="dropdownLang" class="dropdown-content">
    <li><a (click)="langBtn('en')">English</a></li>
    <li><a (click)="langBtn('de')">Deutsch</a></li>
    <li><a (click)="langBtn('cn')">中文</a></li>
</ul>

<context-menu #programListContextMenu>
    <ng-template contextMenuItem let-node (execute)="openCreateModal('textual')">
        <i class="material-icons"> code </i> New Textual Program
    </ng-template>
    <ng-template contextMenuItem let-node (execute)="openCreateModal('blockly')">
        <i class="material-icons"> view_module </i> New Visual Project
    </ng-template>
    <ng-template contextMenuItem let-node (execute)="openCreateModal('template')">
        <i class="material-icons"> description </i> New Template
    </ng-template>
</context-menu>

<div [contextMenu]="programListContextMenu" [contextMenuSubject]="this" class="program-list">
    <div class="fixed-action-btn click-to-toggle">
        <a materialize="tooltip" class="btn-floating btn-large waves-effect waves-light green z-depth-4 tooltipped" data-position="left" data-delay="50" [attr.data-tooltip]="lang_create_program">
            <i class="material-icons">add</i>
        </a>
        <ul>
            <li>
                <a materialize="tooltip" (click)="openCreateModal('textual')" class="btn-floating blue tooltipped" data-position="left" data-delay="50" [attr.data-tooltip]="lang_textual_project">
                    <i class="material-icons">code</i>
                </a>
            </li>
            <li>
                <a materialize="tooltip" (click)="openCreateModal('blockly')" class="btn-floating red tooltipped" data-position="left" data-delay="50" [attr.data-tooltip]="lang_visual_project">
                    <i class="material-icons">view_module</i>
                </a>
            </li>
            <li>
                <a materialize="tooltip" (click)="openCreateModal('template')" class="btn-floating grey tooltipped" data-position="left" data-delay="50" [attr.data-tooltip]="lang_template">
                    <i class="material-icons">description</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="container z-depth-1">
        <ul class="collection with-header">
            <li class="collection-header right-align">
                <input type="checkbox" id="show-templates" [(ngModel)]="showTemplates"/>
                <label for="show-templates">{{lang_show_templates}}</label>
            </li>
            <li class="collection-item avatar valign-wrapper waves-effect program-item" *ngFor="let program of (programs | hasProgramExtension: (showTemplates ? ['.blockly', '', '.template'] : ['.blockly', '']))" (click)="openRoute($event, program)">
                <div [ngSwitch]="getExtension(program)">
                    <ng-template [ngSwitchCase]="'.blockly'">
                        <i materialize="tooltip"
                           class="material-icons tooltipped circle red program-icon"
                           data-position="left"
                           data-delay="50"
                           [attr.data-tooltip]="lang_visual_program">view_module</i>
                    </ng-template>
                    <ng-template [ngSwitchCase]="''">
                        <i materialize="tooltip"
                           class="material-icons tooltipped circle blue program-icon"
                           data-position="left"
                           data-delay="50"
                           [attr.data-tooltip]="lang_textual_program">code</i>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'.template'">
                        <i materialize="tooltip"
                           class="material-icons tooltipped circle grey program-icon"
                           data-position="left"
                           data-delay="50"
                           [attr.data-tooltip]="lang_template">description</i>
                    </ng-template>
                </div>
                <span class="title valign">{{ getNameWithoutExtension(program) }}</span>

                <div class="secondary-content">
                    <button materialize="tooltip" class="waves-effect waves-teal btn-flat tooltipped" *ngIf="getExtension(program) !== '.blockly'" [routerLink]="['/versions', program]" data-position="bottom" data-delay="50" [attr.data-tooltip]="lang_show_versions"><i class="material-icons">history</i></button>
                    <button materialize="tooltip" class="waves-effect waves-teal btn-flat tooltipped" *ngIf="getExtension(program) === '.blockly'" (click)="convertFromVisual(program)" data-position="bottom" data-delay="50" [attr.data-tooltip]="lang_convert_to_textual"><i class="material-icons">file_upload</i></button>
                    <button materialize="tooltip" class="waves-effect waves-teal btn-flat tooltipped" *ngIf="getExtension(program) !== '.blockly'" (click)="openRenameModal(program)" data-position="bottom" data-delay="50" [attr.data-tooltip]="lang_rename_project"><i class="material-icons">mode_edit</i></button>
                    <button materialize="tooltip" class="waves-effect waves-teal btn-flat tooltipped" *ngIf="getExtension(program) === '.blockly'" (click)="openRenameModal(program)" data-position="bottom" data-delay="50" [attr.data-tooltip]="lang_rename_project"><i class="material-icons">mode_edit</i></button>
                    <button materialize="tooltip" class="waves-effect waves-teal btn-flat tooltipped" (click)="openDeleteModal(program)" data-position="bottom" data-delay="50" [attr.data-tooltip]="lang_delete_project"><i class="material-icons">delete</i></button>
                </div>
            </li>
        </ul>
    </div>

    <div id="create-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="createModalActions">
        <form (submit)="createProgram()">
            <div class="modal-content">
                <h4 [ngSwitch]="newProgramData.type">
                    <ng-template [ngSwitchCase]="'blockly'">
                        {{lang_new_visual_program}}
                    </ng-template>
                    <ng-template [ngSwitchCase]="'textual'">
                        {{lang_new_textual_program}}
                    </ng-template>
                    <ng-template [ngSwitchCase]="'template'">
                        {{lang_new_template}}
                    </ng-template>
                </h4>
                <div class="input-field">
                    <input name="new-program-name" id="new-program-name" type="text" class="validate" [(ngModel)]="newProgramData.name"/>
                    <label for="new-program-name">{{ newProgramData.type === 'template' ? lang_template_name : lang_program_name }}</label>
                </div>
                <div class="input-field" *ngIf="newProgramData.type === 'textual'">
                    <select class="form-control" id="new-program-copyfrom" [(ngModel)]="newProgramData.copyFrom" name="new-program-copyfrom" materialize="material_select">
                        <option *ngFor="let program of (programs | hasProgramExtension: ['.template'])" [ngValue]="program" >{{getNameWithoutExtension(program)}}</option>
                        <option value="none">{{lang_none}}</option>
                    </select>
                    <label for="new-program-copyfrom">{{lang_template}}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeCreateModal()">{{lang_close}}</button>
                <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">{{lang_create}}</button>
            </div>
        </form>
    </div>

    <div id="delete-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="deleteModalActions">
        <form (submit)="deleteProgram()">
            <div class="modal-content">
                <h4>{{lang_delete_program}}</h4>
                {{ deleteProgramName.endsWith('.blockly') ? lang_delete_visual_sentence : lang_delete_textual_sentence}} <p><strong>{{ deleteProgramName.replace(".blockly","") }}</strong></p><br />
                {{lang_cannot_undo_sentence}}
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeDeleteModal()">{{lang_close}}</button>
                <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">{{lang_delete}}</button>
            </div>
        </form>
    </div>

    <div id="rename-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="renameModalActions">
        <form (submit)="renameProgram()">
            <div class="modal-content">
                <h4>{{lang_rename_program}} <strong>{{getNameWithoutExtension(renameProgramData.oldName)}}</strong></h4>
                <div class="input-field">
                    <input name="rename-new-name" id="rename-new-name" type="text" class="validate" [(ngModel)]="renameProgramData.newName" />
                    <label for="rename-new-name">{{lang_program_name}}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeRenameModal()">{{lang_close}}</button>
                <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">{{lang_create}}</button>
            </div>
        </form>
    </div>
</div>
