.container {
    margin-top: 30px;
}

.program-item .title {
    font-size: 1.5em;
}

.program-item .secondary-content button {
    margin-top: 7px;
    margin-bottom: 7px;
}

#create-modal {
    width: 400px;
}

#delete-modal {
    width: 400px;
}

#rename-modal {
    width: 400px;
}
