:host {
    flex: 1;
}

.program-list {
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 1;
    overflow-y: scroll;
}

.program-item {
    padding-left: 20px !important;
    cursor: pointer;
    display: flex;
}

.program-item:hover {
    background-color: rgba(150, 150, 150, 0.05);
}

.program-item .title {
    font-size: 1.5em;
}

.program-item .secondary-content button {
    margin-top: 7px;
    margin-bottom: 7px;
}

#create-modal {
    width: 400px;
}

#delete-modal {
    width: 400px;
}

#rename-modal {
    width: 400px;
}

.program-icon {
    position: initial !important;
    margin-right: 20px;
}

