<nav class="hedgehog-green-light">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Programs</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a><i class="material-icons">replay</i></a></li>
        </ul>
    </div>
</nav>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green z-depth-4">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li><a (click)="openCreateModal('python')" class="btn-floating blue">
            <i class="material-icons">code</i>
        </a></li>
        <li><a (click)="openCreateModal('blockly')" class="btn-floating red">
            <i class="material-icons">view_module</i>
        </a></li>
    </ul>
</div>

<div class="container z-depth-1">
    <ul class="collection">
        <li class="collection-item avatar valign-wrapper program-item" *ngFor="let program of programs" (click)="openRoute($event, program)">

            <i class="material-icons circle blue" style="vertical-align: middle;" *ngIf="!program.endsWith('.blockly')">code</i>
            <i class="material-icons circle red" style="vertical-align: middle;" *ngIf="program.endsWith('.blockly')">view_module</i>
            <span class="title valign">{{ program.replace(".blockly","") }}</span>

            <div class="secondary-content">
                <button class="waves-effect waves-teal btn-flat" *ngIf="!program.endsWith('.blockly')" [routerLink]="['/text-ide', program]"><i class="material-icons">mode_edit</i></button>
                <button class="waves-effect waves-teal btn-flat" *ngIf="program.endsWith('.blockly')" [routerLink]="['/blockly', program]"><i class="material-icons">mode_edit</i></button>
                <button class="waves-effect waves-teal btn-flat" (click)="openDeleteModal(program)"><i class="material-icons">delete</i></button>
            </div>
        </li>
    </ul>
</div>

<div id="create-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="createModalActions">
    <form (submit)="createProgram()">
        <div class="modal-content">
            <h4>Create New {{  newProgramType === "blockly" ? 'Visual' : ''}} Program</h4>
            <div class="input-field">
                <input name="new-program-name" id="new-program-name" type="text" class="validate" [(ngModel)]="newProgramName"/>
                <label for="new-program-name">Program Name</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeCreateModal()">Close</button>
            <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Create</button>
        </div>
    </form>
</div>

<div id="delete-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="deleteModalActions">
    <form (submit)="deleteProgram()">
        <div class="modal-content">
            <h4>Delete Program</h4>
            <p>Do you want to delete the program {{ deleteProgramName }}? <br />
            This operation cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-green btn-flat" type="reset" (click)="closeDeleteModal()">Close</button>
            <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Delete</button>
        </div>
    </form>
</div>
