<div id="program-execution" *ngIf="showPanel" style="z-index: 100000">
    <div id="program-execution-sidebar">
        <i class="material-icons">replay</i>
        <br/><br/>
        <a><i class="material-icons">stop</i></a>
    </div>

    <div id="program-execution-terminal" style="background: #fff">
        <div id="output">
            <pre *ngFor="let output of outputList" class="{{output.type}}">{{ output.data }}</pre>
        </div>

        <div class="input-field">
            <form (submit)="sendInput()">
                <input placeholder="Input ..." name="stdin" id="stdin" type="text" class="validate" [(ngModel)]="input" [disabled]="!isRunning"/>
            </form>
        </div>
    </div>
</div>