#program-execution {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    resize: vertical;
}

#program-execution-sidebar {
    display: inline-block;
    border: 1px solid;
    color: #000;
    padding: 1vh;
}

#program-execution-terminal {
    width: 100vw;
    border: 1px solid;
    flex: 1;
}

#stdin {
    position: absolute;
    bottom: -30px;
    width: 100%;
    background-color: white;
}

#output {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    position: absolute;
    top: 0;
}

.stdin {
    color: #38b449;
}

.stdout {
    color: black;
}

.stderr {
    color: red;
}