<div id="program-execution" *ngIf="showPanel" style="z-index: 100000">
    <div id="program-execution-sidebar">
        <i class="material-icons">replay</i>
        <br/><br/>
        <i class="material-icons" *ngIf="isRunning" (click)="stop()">stop</i>
    </div>

    <div id="program-execution-terminal" style="background: #fff">

        <a class="btn-floating waves-effect waves-light red right" (click)="showPanel = false; stop()">
            <i class="material-icons">close</i>
        </a>

        <div id="output">
            <pre *ngFor="let output of outputList" class="{{output.type}}">{{ output.data }}</pre>
        </div>

        <div class="input-field" id="stdin">
            <form (submit)="sendInput()">
                <input placeholder="Input ..." name="stdin" type="text" class="validate" [(ngModel)]="input" [disabled]="!isRunning"/>
            </form>
        </div>
    </div>
</div>