<div class="app-content row">




    <div class="col s2">
        <h3> Project 1 </h3>
        <hr>

        <div collapse-on-click >
            <div>
                <i class="material-icons">keyboard_arrow_down</i> Root <i class="material-icons">folder</i>
            </div>
            <div class="collapsible-section">
                main.py <br>
                test.py
            </div>

        </div>
    </div>

    <div class="col s10">


        <div class="col s12" style="margin-top: 2vh">
            <div class="col l1">
                <a class="waves-effect btn-floating waves-light">
                    <i class="material-icons">play_arrow</i>
                </a>
            </div>
            <div class="col l1">
                <a class="waves-effect btn-floating waves-light">
                    <i class="material-icons">save</i>
                </a>
            </div>
            <div class="col l1" >
                <a class="waves-effect btn-floating  waves-light">
                    <i class="material-icons">insert_drive_file</i>
                </a>
            </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
            <div class="col s12" style="z-index:1" >
                <ul class="tabs" materialize="tabs" id="sortable-tabs">
                    <li *ngFor="let file of files" class="tab" draggable (click)="onTabSelect( file.content, file.id )" > <a class="green-text lighten-3" > {{ file.name }} </a></li>
                </ul>
            </div>

            <div class="col s12">
                <div ace-editor
                     text="{{ editorContent }}"
                     (textChanged)="changeEditorContent($event)"
                     [mode]="'python'"
                     [theme]="'chrome'"
                     [readOnly]="false"
                     style="display:block; height: 88vh; width:100%"> </div>


            </div>
        </div>
    </div>
</div>

