@import "../../../node_modules/materialize-css/sass/components/color";
@import "../../../node_modules/materialize-css/sass/components/variables";

/* Master Styles */
/* Solves issue as described here:
 * http://stackoverflow.com/questions/35578083/what-is-the-equivalent-of-ngshow-and-nghide-in-angular2
 */
[hidden] {
    display: none !important;
}

nav .disabled {
    pointer-events: none;
    box-shadow: none;
    color: #b9b9b9 !important;
    cursor: default;
}

.brand-logo {
    margin-left: 15px;
}

.hedgehog-green-light {
    background-color: #38b449;
}

.hedgehog-green-dark {
    background-color: #007c3c;
}

@media #{$medium-and-down} {
    nav .brand-logo {
        left: initial !important;
        -webkit-transform: initial !important;
        transform: initial !important;
    }
}

/* indicator color */

.tabs:not(.tabs-transparent) .indicator {
    background-color: #38b449 !important;
}

/* file tree style*/

.tree-node-active .node-content-wrapper {
    background-color: #fff !important;
}

.node-content-wrapper, .tree-children {
    position: relative;
}

.node-content-wrapper::before, .tree-children::after {
    content: "";
    position: absolute;
}

.node-content-wrapper::before {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    height: 28px;
    top: -17px;
    width: 20px;
    left: -28px;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
    width: 25px;
}

.tree-children::after {
    border-left: 1px solid lightgrey;
    height: 100%;
    top: -15px;
    left: -15px;
}

treenode:last-child > .tree-node > .tree-children::after {
    border-left: none;
}

.toggle-children {
    z-index: 1;
}

/* context menu */

.angular2-contextmenu .dropdown-menu {
    border: solid 1px black;
    background-color: white;
    padding: 0;
    z-index: 5;
}
.angular2-contextmenu li {
    display: block;
    border-top: solid 1px black;
    text-transform: uppercase;
    text-align: left;
}
.angular2-contextmenu li:first-child {
    border-top: none;
}
.angular2-contextmenu a {
    color: black;
    display: block;
    padding: 0.5em 1em;
}
.angular2-contextmenu a:hover {
    color: black;
    background-color:white;
}


/* all other styles */

#sidebar {
    height: 100%;
    overflow-y: auto;
    margin-top: 10px;
}

.tree {
    margin-left: 30px;
    margin-top: 30px;
}

#sortable-tabs {
    z-index: 0;
    margin-top: 10px;
}

div > ul > li > a {
    text-transform: none;
}

#ace-editor {
    display: block;
    height: 88vh;
    width: 100%;
}

.no-break {
    white-space: nowrap
}

/* Fixes blockly inputs */
.blocklyHtmlInput {
    height: 100% !important;
    background-color: #FFFFFF !important;
}

.side-bar {
    position: fixed;
    width: 64px;
    height: 100%;
}

.side-bar .side-bar-item {
    margin: 6px 6px 15px;
    width: 52px;
}

.wrapper {
    position: fixed;
    left: 64px;
    right: 0;
    top: 0;
    bottom: 0;
}

#about-link {
    bottom: 0px;
    position: absolute;
    margin: 6px;

    .material-icons {
        font-size: 42px;
        color: #FFFFFF;
        margin: 5px;
    }
}

#about-modal {
    top: 5% !important;
    max-height: 90% !important;
}

/* Animation */
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}

.ide-split {;
    position: absolute;
    top: 64px;
    bottom: 0;
    height: initial !important;
    margin-top: 2px;
}