@import "../../../node_modules/materialize-css/sass/components/color";

$hedgehog-green-light: #38b449;
$hedgehog-green-dark: #007c3c;
$secondary-color:  $hedgehog-green-light !default;
$link-color: $hedgehog-green-light;

@import "../../../node_modules/materialize-css/sass/materialize";
@import '../../../node_modules/angular-tree-component/dist/angular-tree-component.css';

/* Master Styles */
/* Solves issue as described here:
 * http://stackoverflow.com/questions/35578083/what-is-the-equivalent-of-ngshow-and-nghide-in-angular2
 */
[hidden] {
    display: none !important;
}

nav {
   flex: 1;
}

nav .disabled {
    pointer-events: none;
    box-shadow: none;
    color: #b9b9b9 !important;
    cursor: default;
}

.brand-logo {
    margin-left: 15px;
}

.hedgehog-green-light {
    background-color: #38b449;
}

.hedgehog-green-dark {
    background-color: #007c3c;
}

@media #{$medium-and-down} {
    nav .brand-logo {
        left: initial !important;
        -webkit-transform: initial !important;
        transform: initial !important;
    }
}

/* context menu */

.ngx-contextmenu .dropdown-menu {
    @extend .collection;
    @extend .z-depth-2;
    z-index: 5;
}
.ngx-contextmenu li {
    display: block;
    text-transform: uppercase;
    text-align: left;
}
.ngx-contextmenu li:first-child {
    border-top: none;
}
.ngx-contextmenu a {
    @extend .collection-item;
    color: black !important;
    display: block;
    padding: 0.5em 1em;
}
.ngx-contextmenu a:hover {
    color: black;
    background-color:white;
}


/* all other styles */

#sidebar {
    height: 100%;
    overflow-y: auto;
    margin-top: 10px;
}

.tree {
    margin-left: 30px;
    margin-top: 30px;
}

#sortable-tabs {
    z-index: 0;
    margin-top: 10px;
}

div > ul > li > a {
    text-transform: none;
}

#ace-editor {
    display: block;
    height: 88vh;
    width: 100%;
}

.no-break {
    white-space: nowrap
}

/* Fixes blockly inputs */
.blocklyHtmlInput {
    height: 100% !important;
    background-color: #FFFFFF !important;
}

my-app {
    display: flex;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    height: 100vh;
}

.side-bar {
    width: 64px;
    height: 100vh;
}

.side-bar .side-bar-item {
    margin: 6px 6px 15px;
    width: 52px;
}

#about-link {
    bottom: 0px;
    position: absolute;
    margin: 6px;

    .material-icons {
        font-size: 42px;
        color: #FFFFFF;
        margin: 5px;
    }
}

#about-modal {
    top: 5% !important;
    max-height: 90% !important;

    .logo {
        padding: 0;
    }

    li, span {
        font-size: 1.1rem;
    }

    h3, h4 {
        text-align: center;
    }

    .row.small-row {
        padding: 0;

        .col {
            padding: 0;
        }

        &.center .cl {
            text-align: center;
        }
    }

    .row.sponsors .col {
        font-size: 180%;
        font-weight: bold;
    }

    .version-information {
        dt:before {
            content: "";
            display: block;
        }
        dt, dd {
            display: inline;
        }
        dd {
            margin-left: 10px;
        }
    }

    .thank-you {
        font-size: 120%;
        font-weight: bold;
        font-style: italic;
    }
}

/* Animation */
.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}

.ide-split {
    position: absolute;
    height: 100%;
}

/* indicator color */

.tabs:not(.tabs-transparent) .indicator {
    background-color: #38b449 !important;
}

/* file tree style*/
.node-content-wrapper, .tree-children {
    position: relative;
}

.node-content-wrapper::before, .tree-children::after {
    content: "";
    position: absolute;
}

.node-content-wrapper::before {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    height: 28px;
    top: -17px;
    width: 20px;
    left: -28px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
    display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
    width: 25px;
}

.tree-node-active .node-content-wrapper {
    background-color: #fff !important;
}

.tree-children::after {
    border-left: 1px solid lightgrey;
    height: 100%;
    top: -15px;
    left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
    border-left: none;
}

.toggle-children {
    z-index: 1;
}
