.side-bar {
    position: fixed;
    width: 64px;
    height: 100%;
}

.side-bar .side-bar-item {
    margin: 6px;
    width: 52px;
}

.wrapper {
    position: fixed;
    left: 64px;
    right: 0;
    top: 0;
    bottom: 0;
}