<div class="col s12 l6">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                <span>{{ name }}</span>
            </div>

            <div style="display: block;">
                <canvas baseChart
                        [data]="lineData"
                        [labels]="lineLabels"
                        [options]="lineOptions"
                        [colors]="lineChartColors"
                        [legend]="false"
                        [chartType]="'line'"></canvas>
            </div>
        </div>
    </div>
</div>