<div class="col s12 l6">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                <span>{{ name }}</span>
                <div class="right" *ngIf="type == 'analog'">
                    <label>
                        <input type="checkbox" id="pullup {{ name }}" (change)="updatePullup($event.target.checked)"/>
                        <label for="pullup {{ name }}">Pullup</label>
                    </label>
                </div>
            </div>

            <div style="display: block;">
                <canvas baseChart
                        [data]="lineData"
                        [labels]="lineLabels"
                        [options]="lineOptions"
                        [colors]="lineChartColors"
                        [legend]="false"
                        [chartType]="'line'"></canvas>
            </div>
        </div>
    </div>
</div>