.vision-main {
    display: flex;
    flex-flow: row nowrap;
}

.vision-frame {
    flex: 0 0 auto;
    padding: 0 0.75rem;
}

.vision-control {
    flex: 1 1 auto;
    padding: 0 0.75rem;
}

.code-example {
    overflow: auto;
}

.code-example pre {
    margin: 5px 0;
    overflow: visible;
}

.code-example pre.context {
    color: darkgray;
}